body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.container{
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 3px, solid black;
}